@charset "utf-8";
/* CSS Document */
/*reset style*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p, button,
table,th,td,blockquote,address,hr,figure,section,nav{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,i,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
dl,ul,ol,li{list-style:none;}
input,a{border:0;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);} /*去掉手机端按钮点击出现的蓝色边框*/
input[type=text],input[type=button]{outline:0;}
body,th,td,input,select,textarea,button {font-size:12px;font-family:"Helvetica Neue","Microsoft YaHei",Arial, Helvetica, Verdana, Tahoma,sans-serif;}
img{max-width:100%;vertical-align:middle;border:0;}  /*给img最大宽度设置为100%*/
input,textarea,button,select,a{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none;-webkit-appearance:none;appearance:none;border:none;text-decoration:none;}
a:hover{text-decoration:none;}

body{
	margin:0 auto;
	background:#FFF;
	max-width:640px;
	min-width:300px;
	position:relative;
	-webkit-font-smoothing:antialiase;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	/* border:1px solid red; */

}

.clearfix{zoom:1;}
.clearfix:after{
	content:'.';
	display:block;
	width:0;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.pos_r{
	position:relative;
}
.pos_a{
	position:absolute;
}


/*placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */ 
    color:#808080; 
    background:transparent;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color:#808080;  
    background:transparent;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color:#808080;  
    background:transparent;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color:#808080; 
    background:transparent;
}

/*上面的部分是为了清除浏览器默认的样式，重新对页面进行渲染 reset.css*/

/*下面这个是定义一些颜色，字体等*/
.col_font{color:#808080;}
.col_zong{color:#EC6945;}
.col_sky{color:#2CCBE3;}
.col_gre{color:#549b36;}
.bgd{background:#e8e8e8;}
.bg_zong{background:#EC6945;color:white;}
.max_640{max-width:640px;}
.pdbom{padding-bottom:4px;}
.pdt_8{padding-top:8px;}
.pdb_2{padding-bottom:2px;}
.bold{font-weight:bold;}
.font_14{font-size:14px;}
.ver_mid{vertical-align:middle;}
.hide{display:none;}
.bg_fff{background:#fff;}

/*loading,nomoreinfo*/
.loading{
	width:100%;
	padding:30px 0 20px;
	text-align:center;
	background:transparent;
	margin:0 auto;
	display:none;
	clear:both;
	position:relative;
	z-index:8;
	background:#FFF;
}
.loading>img{border:none;z-index:8;}
.nomoreinfo{color:#808080;}  /*无更多信息*/



/*全站调用弹窗的时候mask(如果没用objCenter函数)*/
.mask{
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,.5);
	z-index:100;
	display:none;
	max-width:640px;
}
























